/*TÍTULO*/

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/*IMAGEN LOGO*/

img {
    display: block;
    margin: auto;
}

/*CATEGORÍAS INICIO*/

.mis-categorias {
    width: 100%;
    height: 62px;
    background-color: teal;
    padding: 17px;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    font-family: ‘Open Sans’, Arial;
    font-size: 1.2em;
    color: #fff;
}

.mis-categorias a {
    color: #fff;
    text-decoration: none;
}

.mis-categorias a:hover {
    color: #fff;
}

.mis-categorias:hover {
    background-color: yellowgreen;
}

/*MI TABLA EN REGATAS*/
.content-table {
    border-collapse: collapse;
    border: black 1px;
    border-color: black;
    margin: 25px 0;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.content-table thead tr {
    border: black 2px solid;
    background-color: rgb(150, 208, 228);
    color: darkblue;
    text-align: middle;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: aliceblue;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid lightcyan;
}

td {
    border: black 2px solid;
}

th {
    border: black 2px solid;
}

h6 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.mas-informacion {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer {
    margin-bottom: 100px;
}

/*MI FORMULARIO EN REGATISTAS*/
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 15px 20px;
    margin: 15px 20px;
}

input[type=text] {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 25px 20px;
}

input[type=password] {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 25px 20px;
}

input[type=submit] {
    background-color: lightblue;
    border-width: 2px;
    border-color: darkblue;
    text-decoration: none;
    color: darkblue;
    padding: 20px 20px;
    margin: 20px 20px;
    cursor: pointer;
}

p,.centrado {
    text-align: center;
}

.botonespecial{
    justify-content: center;
}